body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: large;    
    padding: 7.5px;
    margin: 0;
    background-color: rgb(31, 30, 30);
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 249, 249);
    padding: 15px;
}

form * {
    width: 200px;
    margin: 7.5px auto;
}

select, button {
    padding: 5px;
    min-width: 90px;
}

.result pre{
    border: 1px solid black;
    width: 170px;
    height: 100px;
    margin: 15px auto;
    padding:15px;
    font-size: small;
}