<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Caprog caprog.info@gmail.com fb:https://www.facebook.com/gaming/caprogrammer">
    <title>Dependent Select Vue JS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <h1>Search products</h1>
        <form @submit.prevent="submit">
            <label>Category</label>
            <select v-model="cat">
                <option value="1">Computers</option>
                <option value="2">Books</option>
                <option value="3">Video games</option>
            </select>
            <label>Sub-category</label>
            <vue-select :list="subcategories" label="label" v-model="subcat"></vue-select>
            <button type="submit">SEARCH</button>
        </form>
        <div class="result">
            <h1>Result</h1>
            <pre>{{result}}</pre>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>